<html>
    <head>
        <title>PWNboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous"> <!-- Latest compiled and minified Bootstrap CSS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> <!-- Latest compiled and minified JavaScript -->
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:600,400' rel='stylesheet' type='text/css' />
        <link href='https://fonts.googleapis.com/css?family=Jura:400,600' rel='stylesheet' type='text/css' />
        <link rel='stylesheet' href='/static/pwnboard.css' type='text/css' />
        <meta http-equiv="refresh" content="10">
    </head>
    <body>
        <div class="container text-center">
{% if error %}
        <p id="error" class="alert alert-danger">{{ error }}</p>
{% endif %}
{% block content %}
{% endblock %}
            <h1 class="title" style="font-family: 'Jura';">PWNboard</h1>
        </div>
            <div class="" style="width:100%">
                <table class="table table-dark table-bordered">
                    <tr>
                        <thead>
                            <td>Hosts</td>
                        {% for team in teams %}
                            <td>Team {{ team }}</td>
                        {% endfor %}
                        </thead>
                    </tr>
                    {% for row in board %}
                    <tr>
                        <td><b>{{ row['name'] }}</b></td>
                        {% for host in row['hosts'] %}
                            {% if 'Last seen' in host and host['Last seen'] < 5 %}
                                <td class="bg-success">
                            {% else %}
                                <td class="bg-danger">
                            {% endif %}
                            <b>{{ host.pop('ip') }}</b><br/>
                            
                            {% for k, v in host.items() %}
                            <span style="font-size: 0.8em; display: inline-block;">
                                {# If we are on the last seen key, add 'm' #}
                                {{k}}: {{v}}{% if k == 'Last seen' %}m{% endif %}
                            </span>
                            {% endfor %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </body>
</html>
